PUBLIC_FIREBASE_PROJECT_ID=your-firebase-project-id
PUBLIC_FIREBASE_PROJECT_API_KEY=yout-firebase-project-api-key
PRIVATE_FIREBASE_SERVICE_ACCOUNT={"type":"service_account","project_id":"your-firebase-project-id","private_key_id":"your-private-key-id","private_key":"-----","client_email":"","client_id":"","auth_uri":"","token_uri":"","auth_provider_x509_cert_url":"","client_x509_cert_url":"","universe_domain":""}